@use '../utils/functions' as f;

.btn {
  font-family: 'Space Mono', monospace;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border: none;
  border-radius: f.rem(10);
  cursor: pointer;
}

.btn--search {
  font-size: f.rem(14);
  padding: f.rem(12.5) f.rem(12.5) f.rem(12.5) f.rem(18);
  // line-height: 21px;
}