@use "../utils/functions" as f;

.theme-toggle {
  display: flex;
  align-items: flex-start;
  gap: f.rem(16);
  &:hover {
    cursor: pointer;
  }

  &__theme {
    text-transform: uppercase;
    letter-spacing: f.rem(2.5);
  }
}
