@use "./functions" as f;

.container {
  max-width: f.rem(730);
  margin-inline: auto;
}

.br-15 {
  border-radius: f.rem(15);
}

.br-10 {
  border-radius: f.rem(10);
}

.not--available {
  opacity: 0.5;
}

.hidden {
  display: none;
}

.icon-light {
  -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
  filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
}
