@use './functions' as f;

.container {
  width: f.rem(327);
  max-width: f.rem(730);
  // padding: ;
}

.container--white { background-color: var(--clr-white); }

.br-15 { border-radius: f.rem(15); }

.br-10 { border-radius: f.rem(10); }